{% extends 'index.html' %}
{% block page-content %}
    <div class="panel panel-primary">
        <div class="panel-heading "><h3 class="panel-title">Projects</h3></div>
        <div class="panel-body ">
            <div class="row" style="margin-bottom: 15px">
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">搜索</button>
                                </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-md-4 -->
                <div class="col-md-1 pull-right">
                    <button class="btn btn-success" data-toggle="modal" data-target="#myModal"
                            onclick="window.location.href='add_project'">新增
                    </button>

                </div>

            </div><!-- /.row -->
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="">
                    <tr>
                        <th>project code</th>
                        <th>project name</th>
                        <th>project model</th>
                        <th>TL</th>
                        <th>PL</th>
                        <th>开始日期</th>
                        <th>结束日期</th>
                        <th>Platform</th>
                        <th>sku数量</th>
                        <th>project type</th>
                        <th>project style</th>
                        <th>是否Leading</th>
                        <th>维护版本信息</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in projects %}

                        <tr>
                            <td>
                                <a href="edit_project/{{ i.id }}/">{{ i.project_id }} <span class="glyphicon glyphicon-edit"
                                                                            aria-hidden="true" ></span></a>
                            </td>
                            <td>{{ i.project_name }}</td>
                            <td>{{ i.project_model }}</td>
                            <td>{{ i.test_leader_wzs }}</td>
                            <td>{{ i.test_leader_whq }}</td>
                            <td>{{ i.schedule_start }}</td>
                            <td>{{ i.schedule_end }}</td>
                            <td>{{ i.project_platform }}</td>
                            <td>{{ i.project_sku_qty }}</td>
                            <td>{{ i.project_type }}</td>
                            <td>{{ i.project_style }}</td>
                            <td>{{ i.project_is_leading_project }}</td>
                            <td><a  title="编辑软件版本"  href="edit_project_info/{{ i.id }}" >维护
                                    <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                                </a>

                            </td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>

            </div>

        </div>
        <div id="testAjax">

        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Project Information</h4>
                    </div>
                    <div class="modal-body">
                        test
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function test(nid){
            $.ajax({
                url:'project_info/'+nid,
                type:'GET',
                data:{"csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val()},
                success:function (arg) {

                    $("#testAjax").append(arg);
                }
            }

        )
        }
    </script>
{% endblock %}